/*

Copyright 2023 PayPal Inc.

Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Package utility provides the utility interfaces for mux package

*/

html {
	--snoozed-opacity: 1.0;

	--font-color: 0, 0, 0;
	--bg-color: 255, 255, 255;
	--link-color: 6, 69, 173;
	--border-color: 221, 221, 221;
	--row-highlight-color: rgba(77, 184, 255, 0.75);
	--sorted-col-highlight-color: var(--border-color);

	--green-color: 0, 0, 0;
	--green-bg-color: 0, 128, 0;
	--green-link-color: 6, 69, 173;
	
	--yellow-color: 0, 0, 0;
	--yellow-bg-color: 255, 255, 0;
	--yellow-link-color: 6, 69, 173;
	
	--orange-color: 0, 0, 0;
	--orange-bg-color: 255, 165, 0;
	--orange-link-color: 6, 69, 173;
	
	--red-color: 0, 0, 0;
	--red-bg-color: 255, 0, 0;
	--red-link-color: 6, 69, 173;

	--purple-color: 0, 0, 0;
	--purple-bg-color: 152, 98, 240;
	--purple-link-color: 6, 69, 173;

	--pink-color: 0, 0, 0;
	--pink-bg-color: 244, 66, 155;
	--pink-link-color: 6, 69, 173;

	--grey-snoozed-color: 150, 150, 150;

	--modal-color: var(--font-color);
	--modal-bg-color: 0, 0, 0;
	--modal-bg-content-color: 255, 255, 255;
	--modal-link-color: var(--link-color);
	--modal-border-color: var(--border-color);
	--modal-button-color: var(--font-color);
}

.darkmode {
	--font-color: 212, 212, 212;
	--bg-color: 38, 38, 38;
	--link-color: 17, 165, 222;
	--border-color: 90, 90, 90;
	--row-highlight-color: rgba(17, 165, 222, 0.75);
	--sorted-col-highlight-color: var(--border-color);
	
	--green-color: 38, 38, 38;
	--green-bg-color: 58, 219, 118;
	--green-link-color: 6, 69, 173;
	
	--yellow-color: 38, 38, 38;
	--yellow-bg-color: 255, 246, 80;
	--yellow-link-color: 6, 69, 173;
	
	--orange-color: 38, 38, 38;
	--orange-bg-color: 244, 146, 0;
	--orange-link-color: 6, 69, 173;
	
	--red-color: 38, 38, 38;
	--red-bg-color: 255, 20, 30;
	--red-link-color: 6, 69, 173;

	--purple-color: 38, 38, 38;
	--purple-bg-color: 152, 98, 240;
	--purple-link-color: 6, 69, 173;

	--pink-color: 38, 38, 38;
	--pink-bg-color: 244, 66, 155;
	--pink-link-color: 6, 69, 173;

	--grey-snoozed-color: 150, 150, 150;

	--modal-color: var(--font-color);
	--modal-bg-color: 0, 0, 0;
	--modal-bg-content-color: var(--bg-color);
	--modal-link-color: var(--link-color);
	--modal-border-color: var(--border-color);
	--modal-button-color: var(--bg-color);
}

.colorSnoozed {
	--snoozed-opacity: 0.25;
}

body {
	color: rgb(var(--font-color));
	background: rgb(var(--bg-color));
}

a {
	color: rgb(var(--link-color));
}

input, select {
	color: black;
}

.metricData {
	white-space: nowrap;
}

table,
td {
	border: 1px solid rgb(var(--border-color));
	text-align: left;
	background: rgb(var(--bg-color));
}

table td {
	padding: 8px;
}

/*tr.hover :not(.heatmap) {
    background-color: var(--row-highlight-color);
}

tr.hover :nth-child(1):nth-child(2) {
	background-color: rgb(var(--bg-color));
}*/

table th {
	padding: 8px;
}

table th.heatmap {
	padding: 0px;
}

table td.heatmap {
	padding: 0px;
	min-width: 8px;
	width: 8px;
	max-width: 8px;
}

td.details-control {
	background: url('../resources/details_open.png') no-repeat center center;
	cursor: pointer;
}

tr.shown td.details-control {
	background: url('../resources/details_close.png') no-repeat center center;
}

div.dataTables_scrollBody thead tr {
	visibility: collapse !important;
	margin-bottom: 0px !important;
}

div.DTFC_LeftWrapper thead tr {
	background-color: rgb(var(--bg-color));
}

table.dataTable .sorting,
table.dataTable .sorting_desc,
table.dataTable .sorting_asc {
	padding-right: 8px !important;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc::after {
	display: none !important;
}

#childrenTable_wrapper table thead .sorting_asc,
#childrenTable_wrapper table thead .sorting_desc,
#childrenTable_wrapper table thead .alt_sorting_asc,
#childrenTable_wrapper table thead .alt_sorting_desc {
	background-color: rgb(var(--sorted-col-highlight-color));
}

/* Tooltip container */

#juno-tooltip {
	position: absolute;
	display: none;
}

/* Tooltip text */

#juno-tooltiptext {
	width: 250px;
	background-color: grey;
	color: #fff;
	text-align: center;
	padding: 10px;
	/*border-radius: 6px;*/
	position: absolute;
	right: 105%;
	z-index: 1000;
}

/* The Modal (background) */

.juno-modal {
	display: none;
	text-align: center;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(var(--modal-bg-color), 0.6);
}

/* Modal Content */

.juno-modal-content {
	color: rgb(var(--modal-color));
	display: inline-block;
	text-align: left;
	background-color: rgb(var(--modal-bg-content-color));
	margin: 0 auto;
	padding: 20px;
	border: 1px solid rgb(var(--modal-border-color));
	max-width: 80%;
}

.juno-modal-content label span {
	padding-left: 10px;
}

.juno-modal-content input[type=button], input[type=submit] {
	color: rgb(var(--modal-button-color));
}

.juno-modal-content textarea {
	display: block;
	min-width: 500px;
	min-height: 500px;
	background-color: rgb(var(--bg-color));
	color: rgb(var(--font-color));
	padding: 5px 10px;
	margin-bottom: 20px;
}

/* The Close Button */

.juno-modal-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding-left: 20px;
}

.juno-modal-close:hover,
.juno-modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.switch {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 30px;
}
  
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	top: -4px;
	left: 0;
	right: 0;
	bottom: 4px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 14px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: rgb(66, 66, 66);
}

input:focus + .slider {
	box-shadow: 0 0 1px rgb(66, 66, 66);
}

input:checked + .slider:before {
	-webkit-transform: translateY(-13px);
	-ms-transform: translateY(-13px);
	transform: translateY(-13px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 18px;
}

.slider.round:before {
	border-radius: 50%;
}

.slider-icon
{
  cursor: pointer;
  position: absolute;
  bottom: 7px;
  left: 4px;
  font-size: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked ~ .slider-icon {
	-webkit-transform: translateY(-13px);
	-ms-transform: translateY(-13px);
	transform: translateY(-13px);
}

#controlsWrapper {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	color: rgb(66, 66, 66);
	background-color: #4db8ff;
	padding: 0px 25px 0px 25px;
	width: 100%;
	align-items: center;
}

#timemachinecontrols {
	background-color: #ccc;
	border-radius: 15px;
	display: flex;
	flex: 1;
	justify-content: stretch;
	margin: 0 10px 0 10px;
	padding: 5px 0 0 5px;
	cursor: pointer;
}

#timeslider {
	display: inline;
	flex: 1;
	margin: 7px 20px;
	align-items: center;
}

#controls {
	margin-top: 14px;
	display: flex;
	margin-left: auto;
}

#timestampWrapper {
	display: flex;
	align-items: center;
}

#menu {
	padding-right: 8px;
}

#loadingData {
	visibility: hidden;
	margin-left: 8px;
}

.loader {
	border: 3px solid #4db8ff;
	border-radius: 50%;
	border-top: 3px solid red;
	border-right: 3px solid red;
	border-bottom: 3px solid red;
	width: 12px;
	height: 12px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.dropdownbtn {
	margin-left: 15px;
	margin-top: -11px;
	padding-left: 5px;
	cursor: pointer;
}

.dropdownbtn:after {
	content: '\2807';
	font-weight: bold;
	font-size: 30px;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 160px;
	background-color: white;
	box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
	z-index: 1000;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #4db8ff;
	cursor: pointer;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropdownbtn {
	color: #ccc;
}

#error {
	padding: 5px; 
	margin: 10px 0 5px 0;
}

tr.expander td:first-child,
tr.expanded td:first-child {
	font-weight: bold;
	cursor: pointer;
}
tr.expander td:first-child::before {
	font-family: "Material Icons";
	content: "\e315";
	font-size: 20px;
	padding: 0px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}

tr.expanded td:first-child::before {
	font-family: "Material Icons";
	content: "\e313";
	font-size: 20px;
	padding: 0px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}

#homepageData {
	display: none;
}

.host_note {
	vertical-align: bottom;
	cursor: pointer;
	float: right;
}

i.host_note.note_add {
	opacity: 0.3;
}

i.host_note.note_exists {
	/*color: rgb(var(--purple-link-color);)*/
	color: rgb(var(--font-color));
}

.healthy {
	color: rgb(var(--green-color));
	background-color: rgb(var(--green-bg-color));
}
span .healthy {
	color: rgb(var(--green-bg-color));
	background-color: rgb(var(--green-color));
}
#juno-tooltip span .healthy {
	color: rgb(var(--green-color));
	background-color: rgb(var(--green-bg-color));
}
.healthy a { color: rgb(var(--green-link-color)); }

.warning {
	color: rgb(var(--yellow-color));
	background-color: rgb(var(--yellow-bg-color));
}
span .warning {
	color: rgb(var(--yellow-bg-color));
	background-color: rgb(var(--yellow-color));
}
#juno-tooltip span .warning {
	color: rgb(var(--yellow-color));
	background-color: rgb(var(--yellow-bg-color));
}
.warning a { color: rgb(var(--yellow-link-color)); }

.critical {
	color: rgb(var(--orange-color));
	background-color: rgb(var(--orange-bg-color));
}
span .critical {
	color: rgb(var(--orange-bg-color));
	background-color: rgb(var(--orange-color));
}
#juno-tooltip span .critical {
	color: rgb(var(--orange-color));
	background-color: rgb(var(--orange-bg-color));
}
.critical a { color: rgb(var(--orange-link-color)); }

.fatal {
	color: rgb(var(--red-color));
	background-color: rgb(var(--red-bg-color));
}
span .fatal {
	color: rgb(var(--red-bg-color));
	background-color: rgb(var(--red-color));
}
#juno-tooltip span .fatal {
	color: rgb(var(--red-color));
	background-color: rgb(var(--red-bg-color));
}
.fatal a { color: rgb(var(--red-link-color)); }

.missing {
	color: rgb(var(--purple-color));
	background-color: rgb(var(--purple-bg-color));
}
span .missing {
	color: rgb(var(--purple-bg-color));
	background-color: rgb(var(--purple-color));
}
#juno-tooltip span .missing {
	color: rgb(var(--purple-color));
	background-color: rgb(var(--purple-bg-color));
}
.missing a { color: rgb(var(--purple-link-color)); }

.unexpected {
	color: rgb(var(--pink-color));
	background-color: rgb(var(--pink-bg-color));
}
span .unexpected {
	color: rgb(var(--pink-bg-color));
	background-color: rgb(var(--pink-color));
}
#juno-tooltip span .unexpected {
	color: rgb(var(--pink-color));
	background-color: rgb(var(--pink-bg-color));
}
.unexpected a { color: rgb(var(--pink-link-color)); }


/* Snoozed alerts */

.warning.snoozed { background-color: rgba(var(--yellow-bg-color), var(--snoozed-opacity)); }
.critical.snoozed { background-color: rgba(var(--orange-bg-color), var(--snoozed-opacity)); }
.fatal.snoozed { background-color: rgba(var(--red-bg-color), var(--snoozed-opacity)); }
.missing.snoozed { background-color: rgba(var(--purple-bg-color), var(--snoozed-opacity)); }
.unexpected.snoozed { background-color: rgba(var(--pink-bg-color), var(--snoozed-opacity)); }
.heatmap.snoozed { background-color: rgb(var(--grey-snoozed-color)); }

.innerTable {
	border: 0px;
	width: 100%;
}

.innerTable tr td:first-child {
	border-left: 0px;
}

.innerTable tr td:last-child {
	border-right: 0px;
}

legend {
	color: rgb(var(--font-color));
	margin-top: 15px;
	margin-bottom: 5px;
	border: 0;
	border-bottom: 1px solid rgb(var(--border-color));
}

fieldset fieldset legend {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
	border: 0;
	border-bottom: 1px solid rgb(var(--border-color), 0.3);
}

fieldset fieldset {
	margin: 0;
}

fieldset legend {
	font-weight: bold;
}

.param-btn {
	height:29px;
	width:36px;
	padding:0px;	
}

.checkbox-grid li {
	display: block;
	float: left;
}

#navbar-back-btn {
	font-weight:500;
	font-size:20px;
	padding-right: 10px;
	vertical-align: middle;
	margin-top:8px;
	cursor: pointer;
	display: none;
}

#navbar-brand-title {
	font-weight:500;
	font-size:20px;
	padding-right: 20px;
}