name: Client FT

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - ".github/workflows/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  client-ft:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go_version: ["^1.18.2"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Get code
        uses: actions/checkout@v3.5.2
      - name: Install golang
        uses: actions/setup-go@v4.0.1
        with:
          go-version: "${{ matrix.go_version }}"
      - name: Install Build dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install build-essential daemontools libgflags-dev
          sudo apt install openssl -y
          echo "***********************************************************"
          echo "Dependencies version"
          echo "********************==========*****************************"
          echo "GCC Version:" `gcc --version`
          echo "G++ Version:" `g++ --version`
          echo "Openssl Version:" `openssl version`
          echo "Check Multilog:" `which multilog`
          echo "********************==========*****************************"
      - name: Build
        id: run-build
        run: |
          echo "***********************************************************"
          echo "Deploy Juno Binaries"
          echo "********************==========*****************************"
          export BUILDTOP=`pwd`
          binary_build/build.sh
      - name: Deploy
        run: |
          echo "***********************************************************"
          echo "Deploy Juno Services"
          echo "********************==========*****************************"
          export BUILDTOP=`pwd`
          export JUNO_BUILD_DIR=$BUILDTOP/release-binary/code-build
          script/deploy.sh
      - name: Validate
        run: |
          echo "***********************************************************"
          echo "Validate Juno Services"
          echo "********************==========*****************************"
          ps -eaf | grep juno
      - uses: actions/checkout@v3.5.2
      - name: Install Java 11
        run: |
          java -version || true
          sudo apt-get update
          sudo apt-get install openjdk-11-jdk
          export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/
          export PATH=$PATH:$JAVA_HOME/bin
          echo "export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/" >> ~/.bashrc
          echo "export PATH=$PATH:$JAVA_HOME/bin" >> ~/.bashrc
      - name: Build with Maven
        run: |
          client/Java/Juno/juno-client-impl/src/test/resources/secrets/gensecrets.sh
          # mvn -B -U install --file client/Java/Juno/pom.xml
          mvn -B -U install -DskipTests=true --file client/Java/Juno/pom.xml
      - name: Run functional tests
        run: |
          client/Java/Juno/FunctionalTests/src/test/resources/secrets/gensecrets.sh
          mvn -B -U install --file client/Java/Juno/FunctionalTests/pom.xml
